@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>Recipe Book First Page</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h3>Recipe Book</h3>

        <form>
            <div>
                <label>hi</label>
            </div>
        </form>
    </div>

</body>
